<div class="main-div">
    <div class="center">
        <mat-card  [class.mat-elevation-z8]="true">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                <mat-form-field>
                    <input matInput placeholder="Enter your HN username" name="input" ngModel>
                </mat-form-field>
                <br>
                <div style="width: 50%; margin: 0 auto;">
                    <button type='submit' class='go-button' mat-stroked-button color="warn">Go</button>
                </div>
            </form>
        </mat-card>
    </div>
    <div style="position: absolute; margin-top: 96px; ">
        <a target="_blank" href="https://github.com/ivmarkp/hnfy"
            style="text-decoration: none; font-size: 0.95em; color:#2F4F4F">
                <fa name="github-alt"></fa>&nbsp;&nbsp;About</a>
    </div>
</div>