.center{
    max-width: 400px;
    height: 100px;
    margin: 10px auto;
}

.main-div{
    background-color:coral ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
