<mat-card class="stories-card">
  <ul class="stories-list" style="margin-bottom: 10px">
    <li *ngFor="let story of stories" class="story-item">
      <span class="score">{{story.points}}</span>
      <a target="_blank"  href="{{story.url}}"
        style="text-decoration: none;
                color: #000;
                font-size: 0.87em;">
        {{story.title}}
      </a>
      <span style="margin-left: 5px;
                  font-size: 10pt;
                  border-radius: 0.2em;
                  background-color: #faccae">
          {{story.topics}}
      </span>
      
      <br>
      <span class="meta">
        <span class="by">
          by {{story.author}}
        </span>
        <span class="time">
          {{story.time | timeAgo}}
        </span>
        <span *ngIf="story.comments >= 1" class="comments-link">
          | {{story.comments}}
          <span *ngIf="story.comments == 1">Comment</span>
          <span *ngIf="story.comments > 1">Comments</span>
        </span>
      </span>
    </li>
 </ul>
</mat-card>